{% extends "base.html" %}
{% block title %}Chat en cours{% endblock %}

{% block head %}
	{{ super() }}
	<meta name="user_name" content="{{ name }}">
{% endblock %}

{% block content %}
	<div class="col-md-8 col-xl-8 chat">
		<div class="card">

			<div class="card-header msg_head">
				<div class="d-flex bd-highlight">
					<div class="img_cont">
						<img src="{{ url_for('static', filename='img/grandpy.jpg') }}" class="rounded-circle user_img" onload="hello()">
						<span class="online_icon"></span>
					</div>
					<div class="user_info">
						<span>Chat avec Grandpy</span>
						<p>Chat du {{ date }}</p>
					</div>
				</div>
			</div>


			<div id="chat_body" class="card-body msg_card_body">

				<!-- Chat messages go here -->

			</div>

			<div class="card-footer">
				<!-- <form action="" method="get" class="input-group" onsubmit="return false">
					<input type="text" name="name" id="messageToSend" class="form-control type_msg" placeholder="Tapez ici votre question..." required>
					<button type="button" value="Send" class="input-group-text send_btn" onclick="send_question()"><i class="fas fa-paper-plane"></i></button>
				</form> -->

				<div class="input-group">
					<input type="textarea" id="messageToSend" name="" class="form-control type_msg" placeholder="Tapez ici votre question..."></input>
					<div class="input-group-append"> 
						<span class="input-group-text send_btn" id="buttonToSend" onclick="send_question()">
							<i class="fas fa-paper-plane"></i>
						</span>
					</div>
				</div>
			</div>
			
		</div>
		{% include 'footer.html' %}
	</div>
{% endblock %}

{% block scripts %}
	<script>
		// Script to press buttonToSend if enter is pressed
		var input = document.getElementById("messageToSend");
		input.addEventListener("keyup", function(event) {
		if (event.keyCode === 13) {
		event.preventDefault();
		document.getElementById("buttonToSend").click();
		}
		});
	</script>

{% endblock %}
