{% extends "base.html" %}
{% block title %}Identification{% endblock %}

{% block head %}
    {{ super() }}
<!-- no extra script -->
{% endblock %}

{% block content %}
    <div class="col col-md-11 col-xl-8 chat">
        <div class="container col-md-5">
            <input id="name-input" type="text" id="name" name="name" required minlength="4" maxlength="25" size="10" placeholder="Quel est votre nom ?">
            <a href="/chat?user=Inconnu" id="chat-link">
                <button type="button" class="btn btn-primary">Parler à Grandpy&nbsp;<i class="fas fa-paper-plane"></i></button>
            </a>
        </div>
        {% include 'footer.html' %}
    </div>
{% endblock %}

{% block scripts %}
    <script type="text/javascript">
        document.getElementById("name-input").onblur = function() {
        var name = document.getElementById("name-input").value;
        var link = document.getElementById("chat-link");
        link.setAttribute("href", "/chat?user=" + name);
        return false;
        }
    </script>
{% endblock %}